
    <h1 style="color:blue;">Ingrese Productos</h1>
    <br>
<form id="productForm" method="post">
    <label class="form-label badge">Nombre</label>
    <input class="form-control" type="text" name="title" id="title"/>
    <label class="form-label badge">Precio</label>
    <input class="form-control" type="number" name="price" id="price"/>
    <label class="form-label badge">Foto URL</label>
    <input class="form-control" type="url" name="thumbnail" id="thumbnail"/>
    <button type="submit" class="btn btn-success mb-2 mt-3">Enviar</button>
</form>
